@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkolivegreen;
  height: 100vh;
}
.bin_dec {
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  width: 120px;
  background-color: grey;
  border-radius: 50px;
  padding: 1px 1px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  transition: 0.4s;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
    rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  background-color: #fff;
  transition: 0.4s;
}
.circle.toggled {
  transform: translateX(56px);
  transition: 0.4s;
}
.bin_dec.active {
  background-color: green;
}
.bin {
  color: white;
  left: 10px;
}
.dec {
  right: 10px;
}
.bin,
.dec {
  font-size: 1.4rem;
  position: absolute;
}

.calculator {
  background-color: #000;
  border-radius: 8px;
  width: 420px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.display {
  width: 100%;
  max-height: 150px;
  min-height: 57px;
  font-size: 3rem;
  text-align: right;
  font-weight: 300;
  padding: 0px 35px;
  border: none;
  background-color: transparent;
  color: #fff;
  word-wrap: break-word;
  line-height: 1.2;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
  padding: 10px 30px;
}

.btn {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 20px;
  font-size: 3rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
}
.btn-zero {
  grid-column: span 2;
  width: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 30px;
}
.dev,
.mul,
.min,
.plus,
.equ {
  background-color: #ca3401;
  color: #fff;
  font-weight: 400;
}
.symbols {
  font-size: 2.3rem;
  background-color: #a5a5a5;
  color: #000;
  font-weight: 700;
}

.btn:hover {
  background-color: #ddd;
}
.disable_digit {
  cursor: no-drop;
  background-color: orangered;
  opacity: 0.5;
  transition: 0.4;
}

.header_container {
  color: #fff;
  position: relative;
}
.clock_energy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.energy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.antena {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 3px;
}
.an1 {
  background-color: #fff;
  border-radius: 3px;
  width: 5px;
  height: 8px;
}
.an2 {
  background-color: #fff;
  border-radius: 3px;
  width: 5px;
  height: 12px;
}
.an3 {
  background-color: #544d4d;
  border-radius: 3px;
  width: 6px;
  height: 16px;
}
.an4 {
  background-color: #544d4d;
  border-radius: 3px;
  width: 5px;
  height: 20px;
}

.wifi {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
.wifi img {
  width: 20px;
  height: 20px;
}
.battery {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
.battery img {
  width: 30px;
  height: 30px;
}
.arrow {
  width: 0;
  height: 0;
  background-color: #fff;
  border-top: 5px solid #000;
  border-right: 10px solid white;
  border-bottom: 5px solid #000;
}
.back_to_app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.back_to_app p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
